
*{
   margin: 0;
}
body{
	font-family: Arial, Helvetica, "PT Sans", sans-serif;
}

#test{
   width: 50%;
   text-align: center;
   color: white;
}

.flexcontainer{
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   z-index: 100;
}

.section{
   position: relative;
   width: 100%;
   height: 2000px;
}

#A{
   background-color: green;
}

#B{
   background-color: orange;
}

#C{
   background-color: purple;
}